<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merlin's Potions - Fine potions since 1026</title>
    <link rel="stylesheet" href="flexboxgrid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <section id="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="assets/logo.png" alt="Merlin's Potions">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" placeholder="Search our stock">
                    </div>
                    <div class="col-xs-3">
                        <p class="info">Free shipping on orders over $50</p>
                    </div>
                    <div class="col-xs-1">
                        <img class="bagimg" src="assets/bag.png" alt="">
                    </div>
                    <div class="col-xs-1">
                        <p>BAG:
                            <span id="bag"></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <nav>
            <div class="container-fluid">
                <div class="row start-xs">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <ul>
                            <li>
                                Potions
                                <i class="fa fa-caret-down"></i>
                            </li>
                            <li>
                                Ingredients
                                <i class="fa fa-caret-down"></i>
                            </li>
                            <li>
                                Books
                                <i class="fa fa-caret-down"></i>
                            </li>
                            <li>
                                Supplies
                                <i class="fa fa-caret-down"></i>
                            </li>
                            <li>
                                Charms
                                <i class="fa fa-caret-down"></i>
                            </li>
                            <li>
                                Clearance
                                <i class="fa fa-caret-down"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <ul>
                            <li class="sign">Sign in</li>
                            <span>or</span>
                            <li class="sign">Sign up</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main id="main">
        <section>
            <div class="container-fluid">
                <div class="row center-xs" id="allPotions"></div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <img id="image" width="350px;" alt="Potion name">
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <h1 id="name"></h1>
                                <h6>User/Effect</h6>
                                <p id="effect"></p>
                                <h6>Ingredients</h6>
                                <p id="ingredients">
                                    <br>
                                </p>
                                <h6>Price</h6>
                                <p id="price"></p>
                                <button id="addCart">add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div id="about">
                        <a href="">compnay</a>
                        <a href="">contact us</a>
                        <a href="">shipping</a>
                        <a href="">returns</a>
                        <a href="">careers</a>
                    </div>

                    <div class="row" id="icons">
                        <div class="col-xs-12 col-lg-12">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-pinterest"></i>
                            <i class="fa fa-tumblr"></i>
                            <i class="fa fa-google-plus"></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <p>&copy 2015 Merlin's Potions. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div id="news">
                        <p>Sign up for Newsletter</p>
                        <p>Sign up for our newsletter & gulpget exclusive discounts</p>
                        <input type="text" placeholder="Enter your email">
                        <button>SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="bundle.js"></script>
</body>

</html>